.idea/
*.pyc
**/*.csv
**/__pycache__
**/**.__pycache__
__pycache__
.__pycache__
**/pytest_cache
**/**.pytest_cache
pytest_cache
.pytest_cache
**.pkl
**/**.pkl
**.gzip
**/**.gzip
**.parquet
**/**.parquet
**.png
**/**.png
**.json
**/**.json