
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Predict Covid Data Analysis</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Predict Covid Data Analysis</h1>
      <p class="lead">Source of data <a href="https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv" target="_blank">owid-covid-data.csv</a>.</p>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                
                <div class="col-12">
                    <img src="static/{{'forecast_data.png'+date}}" width="100%" >
                </div>

                <div class="col-12">
                    <img src="static/{{'grouped_data.png'+date}}" width="100%" >
                </div>
                <div class="col-6">
                    <img src="static/{{'train_data.png'+date}}" width="100%" >
                </div>
                <div class="col-6">
                    <img src="static/{{'valid_data.png'+date}}" width="100%" >
                </div>
                
            </div>
        </div>
    </footer>
  </body>
</html>






